argon2-cffi==16.3.0
cffi==1.10.0
dj-database-url==0.4.2
Django==1.11.4
djangorestframework==3.6.4
gunicorn==19.7.1
numpy==1.13.1
passlib==1.7.1
psycopg2==2.7.3.1
pycparser==2.18
pytz==2017.2
six==1.10.0
whitenoise==3.3.0
