{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row text-center center-block">
  <div class="col-md-12">
      <h1>{{title}}</h1>
  </div>
</div>

<div class="row text-center justify-content-center">
  <div class="col-md-6">
    <form class="form" id="form-inspection" action="/inspecao/{{inspection.id}}/editar" method="post">
      {% csrf_token %}
      <input type="text" hidden="hidden" name="id" value="{{inspection.id}}">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" value="{{inspection.name}}">
      </div>
      <div class="form-group">
        <label for="start_at">Início</label>
        <input maxlength="10" onchange="formatDate(event, this, 'start_at');" onkeyup="formatDate(event, this, 'start_at');" id="input_start" class="form-control" required  placeholder="DD/MM/AAAA" value="{{dateStart}}"></input>
        <input id="start_at" name="start_at" hidden="hidden" value="{{dateStart_formated}}"></input>
      </div>
      <div class="form-group">
        <label for="end_at">Fim</label>
        <input maxlength="10" onchange="formatDate(event, this, 'end_at');" onkeyup="formatDate(event, this, 'end_at');" id="input_end" class="form-control" required  placeholder="DD/MM/AAAA" value="{{dateEnd}}"></input>
        <input id="end_at" name="end_at" hidden="hidden" value="{{dateEnd_formated}}"></input>
      </div>
    </form>
    <button onclick="submitForm();" id="btn-submit" class="btn btn-primary btn-block" style="cursor: pointer;">Criar</button><br>
    <a  class="btn btn-secondary btn-block" href="/inspecao" name="cancel">Cancelar</a>
  </div>
</div>

{% endblock %}
