{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row text-center center-block">
  <div class="col-md-12">
      <h1>{{title}}</h1>
  </div>
</div>

<div class="row text-center justify-content-center">
  <div class="col-md-6">
    <form class="form" action="/inspecao/{{inspection.id}}/editar" method="post">
      {% csrf_token %}
      <input type="text" hidden="hidden" name="id" value="{{inspection.id}}">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" value="{{inspection.name}}">
      </div>
      <div class="form-group">
        <label for="start_at">Início</label>
        <input onchange="formatDate(this, 'start_at');" class="auto-kal form-control" required value="{{dateStart}}"></input>
        <input type="text" name="start_at" hidden="hidden" id="start_at" value="{{dateStart_formated}}">
      </div>
      <div class="form-group">
        <label for="end_at">Fim</label>
        <input onchange="formatDate(this, 'end_at');" class="auto-kal form-control" required value="{{dateEnd}}"></input>
        <input type="text" name="end_at" hidden="hidden" id="end_at" value="{{dateEnd_formated}}">
      </div>
      <button type="submit" class="btn btn-primary btn-block" name="submit">Salvar</button><br>
      <a  class="btn btn-secondary btn-block" href="/inspecao" name="cancel">Cancelar</a>
    </form>
  </div>
</div>

{% endblock %}
