{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/mapsjs-ui.css' %}">
<script src="{% static 'js/map.js' %}"></script>

<link rel="stylesheet" type="text/css" href="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.css" />
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

<div class="row justify-content-center">
  <div class="col-10 text-center">
    <h4><b>Inspeção:</b> {{inspection}}</h4>
    <span class="text-success"><img  src="{% static 'img/pins/green.png' %}" style="width: 35px;"> Verificado</span>
    <span class="text-info"><img  src="{% static 'img/pins/cyan.png' %}" style="width: 35px;"> Observação</span>
    <span class="text-danger"><img  src="{% static 'img/pins/red.png' %}" style="width: 35px;"> Problema</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <input type="text" hidden="hidden" id="inspection_id" value="{{inspection.id}}">
    <div id="map" style="width: 100%; height: 550px; background: grey" />
    <script  type="text/javascript" charset="UTF-8" >
    var events = [];

      /*
        Functions
      */

      // Move mapa para uma posição
      function moveMapToPosition(latitude, longitude, zoom){
        map.setCenter({lat:latitude, lng:longitude});
        map.setZoom(zoom);
      }


      // Recupera lista de eventos do server via ajax
      function retrieveEvents(){
        var id = document.getElementById('inspection_id').value;
        var latitude ='';
        var longitude = '';
        events = [];
        url = "/retrieve-events/" + id;
        $.get( url, function( data ) {
          for(i=data.length-1; i>=0; i--){
            events.unshift({
              "id":i,
              "uuid":data[i].uuid,
              "description":data[i].description,
              "kind":data[i].kind,
              "latitude":data[i].latitude,
              "longitude":data[i].longitude,
              "last_edit_at":data[i].last_edit_at
            });
            latitude = data[i].latitude;
            longitude = data[i].longitude;
            addMarker(latitude, longitude, data[i].kind, i);
          }
          if(latitude != '')
            moveMapToPosition(latitude, longitude, 14);
        });
      }


      // Função para adicionar marcador
      function addMarker(latitude, longitude, type, index){
        var markerElement = document.createElement('div'),
            innerElement = document.createElement('div');

       markerElement.style.cursor = 'pointer';
       markerElement.style.borderRadius = '60px 60px ';
       markerElement.style.width = '20px ';
       markerElement.style.height = '20px';
       markerElement.id = index;

       if(type == 'Checked'){
         markerElement.style.backgroundColor = '#0F0';
       }else if (type == 'Observation'){
         markerElement.style.backgroundColor = '#00F';
       }else if (type == 'Problem'){
         markerElement.style.backgroundColor = '#F00';
       }else{
         markerElement.style.backgroundColor = '#000';
       }

       // Função para exibir modal com detalhes do eventos
       function showDetails(e){
         var index = e.target.id;

         document.getElementById('description').value = events[index].description;
         document.getElementById('last_edit_at').value = events[index].last_edit_at;
         document.getElementById('img_event').src = "https://s3.us-east-2.amazonaws.com/agromapproject/" + events[index].uuid + ".png";
         if(events[index].kind == 'Checked'){
           document.getElementById('kind').value = 'Verificado';
         }else if(events[index].kind == 'Observation'){
           document.getElementById('kind').value = 'Observação';
         }else{
           document.getElementById('kind').value = 'Problema';
         }
         $('#modalEvent').modal('show');
       }

       var domIcon = new H.map.DomIcon(markerElement, {

         onAttach: function(clonedElement, domIcon, domMarker) {
           clonedElement.addEventListener('click', showDetails);
         },

         onDetach: function(clonedElement, domIcon, domMarker) {
           clonedElement.removeEventListener('click', showDetails);
         }
       });

       var eventMarker = new H.map.DomMarker({lat: latitude, lng: longitude}, {
         icon: domIcon
       });

       map.addObject(eventMarker);

      }
      /*
        End functions
      */

      /*
      Map
      */
      //Step 1: initialize communication with the platform
      var platform = new H.service.Platform({
        app_id: 'TcTmGYal6RVbQ5aMo9xH',
        app_code: 'e-TOX3l-aSUU0aB2uXU9Ug',
        useCIT: true,
        useHTTPS: true
      });

      var defaultLayers = platform.createDefaultLayers();

      var map = new H.Map(document.getElementById('map'), defaultLayers.normal.map);

      var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

      var ui = H.ui.UI.createDefault(map, defaultLayers);

      moveMapToPosition(-12.7229533, -47.1325016, 4);
      /*
        End Map
      */
      retrieveEvents();
    </script>

  </div>
</div>

<!--Begin Event Modal-->
<div class="modal fade" id="modalEvent" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h3>Detalhes do evento</h3>
        <br>
        <div class="row">
          <div class="col-md-6">
            <form class="form" action="index.html" method="post">
              <div class="form-group">
                <label for="kind">Tipo</label>
                <input class="form-control" type="text" id="kind" value="" disabled>
              </div>
              <div class="form-group">
                <label for="description">Descrição</label>
                <textarea class="form-control" type="text"  rows="2" id="description" value="" disabled></textarea>
              </div>
              <div class="form-group">
                <label for="last_edit_at">Última alteração</label>
                <input class="form-control" type="text" id="last_edit_at" value="" disabled>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <img id="img_event" src="" alt="Imagem do evento" width="200">
          </div>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" form="form_login" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!--End Event Modal-->

{% endblock %}
