{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-md-12 col-align-self-center text-center distance">
      <h1>{{title}}</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <form action="/cadastro" class="form" method="POST" id="form_user">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Nome</label>
        <input class="form-control" type="text" name="name" value="" maxlength="20">
      </div>
      <div class="form-group">
        <label for="last_name">Sobrenome</label>
        <input class="form-control" type="text" name="last_name" value="" maxlength="60">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" value="" maxlength="60">
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input class="form-control" type="password" name="password" value="" maxlength="20">
      </div>
      <br>
      <button type="submit" name="button" class="btn btn-primary btn-block" >Enviar</button>
      <button type="submit" name="button" class="btn btn-secondary btn-block" >Limpar</button>

    </form>
  </div>
</div>

{% endblock %}
