{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row text-center center-block justify-content-center">
  <div class="col-md-8">
    <h1>AgroMap</h1>
    <p>
      Projeto desenvolvido para a disciplina de Projeto de Sistemas do IFSP Piracicaba.
      <br>
      <strong>Aluno: </strong>Eraldo Gonçalves Junior
      <br>
      <strong>Prof.: </strong>Dr. Thiago Luis Lopes Siqueira
      <br>
      Este projeto foi proposto pela empresa <strong>@Tech</strong>, uma startup que desenvolve tecnologias para o agropecuária, localizada em Piracicaba-SP.
      Trata-se de um aplicativo desenvolvido com o Framework Xamarin para o registro de ocorrências que serão informadas pelo usuário. Tais eventos devem ter sua geolocalização capturada e registrada pelo dispositivo móvel que for utilizado, que deverá enviar as informações a um servidor.
    </p>
  </div>
</div>

{% endblock %}
